In [1]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as F

# (8 cores, 16gb per machine) x 5 = 40 cores

# New API
spark_session = SparkSession\
        .builder\
        .master("local") \
        .appName("B.1")\
        .getOrCreate()

# Old API (RDD)
#spark_context = spark_session.sparkContext

In [2]:
#df = spark_session.read.format("csv").option("header", "true").load("download-data?year=2017")
df = spark_session.read.csv('download-data?year=2017', header="true", inferSchema="true", multiLine="true", escape="\"")

In [3]:
#df.show()
df.select(df["DiffMeanHourlyPercent"], df["EmployerName"]).show()

+---------------------+--------------------+
|DiffMeanHourlyPercent|        EmployerName|
+---------------------+--------------------+
|                 18.0|"Bryanston School...|
|                  2.3|"RED BAND" CHEMIC...|
|                  1.7|         118 LIMITED|
|                 41.0|   123 EMPLOYEES LTD|
|                -22.0|        1610 LIMITED|
|                 13.4|1879 EVENTS MANAG...|
|                 15.1|1LIFE MANAGEMENT ...|
|                 15.0|  1ST HOME CARE LTD.|
|                 11.9| 1STOP HALAL LIMITED|
|                 13.4|2 AGRICULTURE LIM...|
|                 15.3|2 SISTERS FOOD GR...|
|                  4.9|2 SISTERS POULTRY...|
|                 14.5|2 SISTERS RED MEA...|
|                 -0.2|2 Touch Bpo Servi...|
|                 -2.0|23.5 DEGREES LIMITED|
|                  0.8|         24 X 7 Ltd.|
|                  0.0|24-7 EMPLOYMENT S...|
|                 20.8|2Gether N H S Fou...|
|                  4.2|3 WAY CLEANING LI...|
|                  8.4|3663 TRANSPORT LI...|
+---------------------+--------------------+
only showing top 20 rows

In [38]:
#select, orderBy, 
df.createOrReplaceTempView("PayGap")
#sqlDF = spark_session.sql("SELECT * FROM PayGap")
sqlDF = spark_session.sql("SELECT EmployerName, CompanyNumber, DiffMeanHourlyPercent FROM PayGap ORDER BY DiffMeanHourlyPercent DESC")
sqlDF.show()

+--------------------+-------------+---------------------+
|        EmployerName|CompanyNumber|DiffMeanHourlyPercent|
+--------------------+-------------+---------------------+
|MILLWALL HOLDINGS...|     02355508|                159.0|
|STOKE CITY FOOTBA...|     00099885|                 92.5|
|BURNLEY FOOTBALL ...|     00054222|                 88.4|
|SWANSEA CITY ASSO...|     00123414|                 87.8|
|MANCHESTER CITY F...|     00040946|                 87.7|
|WEST HAM UNITED F...|     00066516|                 87.4|
|WATFORD ASSOCIATI...|     00104194|                 87.0|
|SUNDERLAND ASSOCI...|     00049116|                 85.1|
|SOUTHAMPTON FOOTB...|     00053301|                 84.4|
|WEST BROMWICH ALB...|     03295063|                 84.4|
|        CPFC LIMITED|     07270793|                 84.0|
|NEWCASTLE UNITED ...|     00031014|                 83.3|
|CHELSEA FOOTBALL ...|     01965149|                 83.0|
|MIDDLESBROUGH FOO...|     01947851|                 83.0|
|AFC BOURNEMOUTH L...|     06632170|                 83.0|
|Tottenham Hotspur...|     00057186|                 83.0|
|HARGREAVE HALE LI...|     03146580|                 81.3|
|THE ARSENAL FOOTB...|     00109244|                 79.6|
|LEICESTER CITY FO...|     04593477|                 78.0|
|SHEFFIELD WEDNESD...|     02509978|                 78.0|
+--------------------+-------------+---------------------+
only showing top 20 rows

In [39]:
sqlDF = spark_session.sql("SELECT EmployerName, CompanyNumber, DiffMeanHourlyPercent FROM PayGap WHERE DiffMeanHourlyPercent='0'")
sqlDF.show()

+--------------------+-------------+---------------------+
|        EmployerName|CompanyNumber|DiffMeanHourlyPercent|
+--------------------+-------------+---------------------+
|24-7 EMPLOYMENT S...|     07431144|                  0.0|
|         725 LIMITED|     05983359|                  0.0|
|        ACCA LIMITED|     04373679|                  0.0|
|ACUMEN LOGISTICS ...|     04777033|                  0.0|
|ANGEL HUMAN RESOU...|     01848414|                  0.0|
|ARRIVA DURHAM COU...|     02404350|                  0.0|
|AVENUE CARE SERVI...|     SC468715|                  0.0|
|  Avenues South East|     03923486|                  0.0|
|BANBURY HEATH LIM...|     06438785|                  0.0|
|BESPOKE CLEANING ...|     04394883|                  0.0|
|BLUES AGENCY LIMITED|     01348692|                  0.0|
|      BOREAL LIMITED|     NI027859|                  0.0|
|BRAYBORNE FACILIT...|     01862534|                  0.0|
|CARE AT HOME SERV...|     05317196|                  0.0|
|CAVITY DENTAL STA...|     08941295|                  0.0|
|Choices Housing A...|     IP269959|                  0.0|
|CINNAMON CARE COL...|     10057697|                  0.0|
|CMD RECRUITMENT L...|     08861395|                  0.0|
|COMFORT CALL LIMITED|     05763279|                  0.0|
|COOPER TOPCO LIMITED|     09472834|                  0.0|
+--------------------+-------------+---------------------+
only showing top 20 rows

In [40]:
sqlDF = spark_session.sql("SELECT EmployerName, CompanyNumber, DiffMeanHourlyPercent FROM PayGap ORDER BY DiffMeanHourlyPercent ASC")
sqlDF.show()

+--------------------+-------------+---------------------+
|        EmployerName|CompanyNumber|DiffMeanHourlyPercent|
+--------------------+-------------+---------------------+
|COMPLETE CARE HOL...|     04522416|               -400.0|
|BARLOWS (U.K.) LI...|     02857344|               -267.6|
|    INBRELLA LIMITED|     08274708|               -150.0|
|    BAR 2010 LIMITED|     04172269|               -148.0|
|Solent Academies ...|     08374351|               -107.0|
|Unity Contracting...|     05952128|                -69.4|
|CREST PLUS OPERAT...|     04620624|                -66.5|
|PLUS PAYROLL SERV...|     08811568|                -64.4|
|MARS FOOD UK LIMITED|     06649971|                -51.5|
|L.E.A.D SERVICES ...|     08423697|                -51.0|
|SAI AUTOMOTIVE WA...|     02432086|                -47.9|
|TESCO MAINTENANCE...|     06003554|                -47.2|
|SWEET DREAMS (NEL...|     02322358|                -46.4|
|HARSCO METALS GRO...|     00702790|                -45.9|
|QUEST EMPLOYMENT ...|     05509015|                -43.9|
|ACCROL PAPERS LIM...|     03639930|                -42.9|
|NATIONWIDE WINDOW...|     06941563|                -42.2|
|ATS EUROMASTER LI...|     04303731|                -41.4|
|PAYSTREAM MY MAX ...|     06451955|                -38.0|
|OAK TYRES UK LIMITED|     02001038|                -37.6|
+--------------------+-------------+---------------------+
only showing top 20 rows

In [51]:
sqlDF = spark_session.sql("SELECT AVG(DiffMeanHourlyPercent) FROM PayGap")
sqlDF.show()
sqlDF.write.csv("/home/ubuntu/downloadCsv")

+--------------------------+
|avg(DiffMeanHourlyPercent)|
+--------------------------+
|          14.2997905559787|
+--------------------------+

In [48]:
sqlDF = spark_session.sql("SELECT COUNT(DiffMeanHourlyPercent) FROM PayGap")
sqlDF.show()

+----------------------------+
|count(DiffMeanHourlyPercent)|
+----------------------------+
|                       10504|
+----------------------------+

In [49]:
sqlDF = spark_session.sql("SELECT COUNT(DiffMeanHourlyPercent) FROM PayGap WHERE DiffMeanHourlyPercent < '0'")
sqlDF.show()

+----------------------------+
|count(DiffMeanHourlyPercent)|
+----------------------------+
|                        1225|
+----------------------------+

In [50]:
1225/10504

0.11662223914699162